<app-header name="{{title}}"></app-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="onClickTab('Hôm Nay')" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>

      <ion-label>Tổng quan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="onClickTab('Bảng Lịch')" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Bảng lịch</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3" (click)="onClickTab('Cài Đặt')" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Cài Đặt</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
