

<ion-content [fullscreen]="true" class="custom-content">
<div class="p-4 md:mt-16"
[ngClass]="getMarginTopClass()"
>
<div class="flex flex-col md:flex-row items-center justify-center md:items-start md:gap-x-10">
  <div class="w-full md:max-w-md  bg-white rounded-lg shadow-lg p-3">
    <!-- Điều hướng tháng -->
    <div class="flex justify-between items-center mb-4 relative">
      <ion-button fill="clear" (click)="previousMonth()">
        <i class="fa-solid fa-caret-left text-xl text-black"></i>
      </ion-button>

      <div class="text-center">
        <h2
        (click)="toggleBoxSearch()"
        class="text-xl font-bold cursor-pointer">
          {{ currentMonthName }} - {{ currentYear }}
          <i class="fa-solid fa-angle-down transition-transform duration-300"
             [ngClass]="{'rotate-180': isBoxSearch}"></i>
        </h2>
      </div>

      <ion-button fill="clear" (click)="nextMonth()">
        <i class="fa-solid fa-caret-right text-xl text-black"></i>
      </ion-button>

      <!-- Thay @if bằng cách này để có hiệu ứng -->
      <div class="absolute top-14 left-0 w-full bg-white rounded-lg shadow-md border border-gray-300 p-2 z-10
                  transition-all duration-300 ease-out transform"
           [ngClass]="{
             'opacity-100 translate-y-0 visible scale-100': isBoxSearch,
             'opacity-0 -translate-y-2 invisible scale-95': !isBoxSearch
           }">
        <h6 class="font-medium text-xl text-center mt-1">Nhập ngày tháng năm cần tìm</h6>
        <form [formGroup]="searchForm">
          <div class="flex justify-between items-center w-fit my-2">
            <input
            (focus)="onFocus('day')"
            [ngClass]="isInvalid('day') ? 'border-red-500' : 'border-gray-500'"
            type="text" formControlName="day" class="in-search border" inputMode="numeric" placeholder="Ngày">
            <input
            (focus)="onFocus('month')"
            [ngClass]="isInvalid('month') ? 'border-red-500' : 'border-gray-500'"
            type="text" formControlName="month"  class="in-search border" inputMode="numeric" placeholder="Tháng">
            <input
            (focus)="onFocus('year')"
            [ngClass]="isInvalid('year') ? 'border-red-500' : 'border-gray-500'"
            type="text" formControlName="year" class="in-search border" inputMode="numeric" placeholder="Năm">
          </div>
          <div class="flex justify-between items-center mb-2">
            <button
            (click)="onSearchSolar()"
            [ngClass]="{'cursor-not-allowed bg-opacity-50':searchForm.invalid}"
            class="px-1 py-1.5 rounded-md bg-blue-500 text-white w-1/3">Lịch Dương</button>
            <p>- Tìm Theo -</p>
            <button
            (click)="onSearchLunar()"
            [ngClass]="{'cursor-not-allowed bg-opacity-50':searchForm.invalid}"
            class="px-1 py-1.5 rounded-md bg-red-500  text-white w-1/3">Lịch Âm</button>
          </div>
        </form>
      </div>
    </div>


<!-- Ngày trong tuần -->
<div class="grid grid-cols-7 text-center mb-2">
  <div class="font-semibold text-red-500">CN</div>
  <div class="font-semibold">T2</div>
  <div class="font-semibold">T3</div>
  <div class="font-semibold">T4</div>
  <div class="font-semibold">T5</div>
  <div class="font-semibold">T6</div>
  <div class="font-semibold">T7</div>
</div>

<!-- Lịch -->
<div class="grid grid-cols-7 gap-1">
  <ng-container *ngFor="let day of days">
    <div
      (click)="selectDate(day)"
      [ngClass]="{'bg-green-500 text-white': day.isSelected,
                 'bg-green-100': day.isToday && !day.isSelected,
                 'text-gray-400': !day.isCurrentMonth,
                 'rounded-full': day.isSelected || day.isToday}"
      class="aspect-square p-1 flex flex-col items-center justify-center text-center cursor-pointer  transition rounded-md"
    >
      <div [ngClass]="{'font-bold': day.isCurrentMonth}">{{ day.solarDay }}</div>
      <div class="text-xs" [ngClass]="{'text-gray-300': !day.isCurrentMonth, 'text-gray-900': day.isCurrentMonth}">
        {{ day.lunarDay }}
      </div>
    </div>
  </ng-container>
</div>
</div>


<!-- Thông tin ngày được chọn -->
<div class="md:h-[475px] max-w-md w-full mt-5 lg:mt-0 p-3 bg-white rounded-lg shadow-md" *ngIf="selectedDay">
  <div class="flex justify-around items-center h-full gap-x-3 text-xl">
    <div class="w-1/2 text-center text-blue-800  p-2 rounded-lg bg-sun h-full flex flex-col justify-center">
      <p class="font-semibold ">
        {{ selectedDay.date | date: 'EEEE' }}
      </p>
      <p class="text-7xl my-3 font-extrabold ">
        {{selectedDay.solarDay}}
      </p>

      <p class="font-semibold">Tháng {{ selectedDay.solarMonth }} - {{ selectedDay.solarYear }}</p>

      <p class=" font-semibold mt-3">Dương lịch</p>
    </div>
    <div class="w-1/2 text-center  p-2 rounded-lg bg-moon text-red-800 h-full flex flex-col justify-center">
      <p class="font-semibold">
        {{ getLunarMonthName(selectedDay.lunarMonth) }}
      </p>
      <p class="text-7xl my-3 font-extrabold ">
        {{selectedDay.lunarDay}}
      </p>

      <p class="font-semibold">Năm {{ getLunarYearName(selectedDay.lunarYear) }}</p>

      <p class="  font-semibold mt-3">Âm lịch</p>
    </div>
  </div>
</div>
</div>

  </div>
</ion-content>
